@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">

    <h1 class="display-5">Editar contato</h1>

</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="celular" class="form-label">Número</label>
        <input type="text" asp-for="Numero" class="form-control" placeholder="Digite o número do contato">
        @Html.ValidationMessageFor(x => x.Numero)
    </div>
    <button type="submit" class="btn btn-success">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>
